# API Configuration
# The base endpoint for API calls.
VITE_MAIL_API_URL=https://api.mail.tm/v1/
# The maximum number of retries for API calls in case of errors like rate limiting.
VITE_API_RETRIES=5

# App Configuration
# Number of email mailboxes to display (max 10).
VITE_MAILBOX_COUNT=6
# The localStorage key used to store saved accounts.
VITE_LS_KEY=inbox_temporanee_accounts
# The interval in milliseconds between polling for new messages.
VITE_POLL_INTERVAL_MS=15000
# The delay in milliseconds between the creation of each mailbox to avoid rate limiting.
VITE_STAGGER_DELAY_MS=2000